<Context>
<Resource name="jdbc/airline" auth="Container"
          type="javax.sql.DataSource"
          driverClassName="org.postgresql.Driver"

          initialSize="3"
          maxIdle="3"
          maxActive="10"
          maxWait="10"

          username="postgres"
          password="8520"
          url="jdbc:postgresql://localhost:5432/airline"/>
</Context>